<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nfcdsc">

    <!-- REQUIRED PERMISSIONS -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!-- REQUIRED HARDWARE FEATURES -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NFCDSC"
        tools:ignore="AllowBackup">

        <!-- ACTIVITIES -->
        <activity
            android:name=".PaymentHistory"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />

        <activity
            android:name=".VerificationActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"/>

        <activity
            android:name=".SignUp"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopUpActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
    </application>

</manifest>